.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 45vh;
    padding-top: 50px;
}

.login h1 {
    margin-bottom: 20px;
    color: #333;
}

.loginForm {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
}

.loginForm label {
    margin-bottom: 5px;
    font-weight: bold;
}

.loginForm input {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.loginForm button {
    padding: 10px;
    border-radius: 3px;
    border: none;
    color: #fff;
    background-color: #05c6a3;
    cursor: pointer;
}

.loginForm button:hover {
    background-color: #04a892;
}

.redirect {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100% - 75vh); 
}

body, html {
    background-color : #f5f5f5;
}