.topnav{
    background-color: #061e6c;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.topnav > div {
    display:flex;
}

.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover{
    background-color: #01d7fc;
    color: black;
}

.topnav a.active{
    background-color: #05c6a3;
    color: white;
}

.nav-link-right{
    margin-left: auto;
}

.welcomeMessage {
    color: #05c6a3;
    font-weight: bold;
    margin-right: 10px;
    padding: 12px 10px;
}